.title{
    text-align: center;
}
.titlehr{
    max-width: 75%;
    margin: 0 auto;
}

fieldset{
    margin: 25px auto;
    padding: 10px;
    max-width: 30%;
    justify-content: center;
    background-color: lightblue;
}

textarea{
    width: 600px;
    height: 200px;
}

.break{
    max-width: 95%;
    margin: 0 auto;
}

.location{
    text-align: center;
}

.locationtitle{
    text-align: center;
}

.locationhr{
    max-width: 75%;
    margin: 0 auto;
}

/* Aligning and styling the location div and setting it into a grid */  
.location{
    font-size: 20px;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    padding: 10px;
    }
    
  /* Styling the location image */  
      #locationimg {
        padding: 5px;
        max-width: 90%;
      }
    
  /* Aligning the text cenrally */
      .locationtxt{
        text-align: center;
     }
