img{
    max-height: 75%;
}

.keytitle{
    text-align: center;
}

.keyhr{
    max-width: 95%;
    margin: 0 auto;
}

.previoustitle{
    text-align: center;
}

.previoushr{
    max-width: 75%;
    margin: 0 auto;
}


/* Aligning and styling the location div and setting it into a grid */  
.previousprojects1{
    font-size: 20px;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    padding: 10px;
    }
    
  /* Styling the location image */  
      .previousimg1 {
        padding: 10px;
        max-width: 90%;
      }

        /* Styling the location image */  
        .previousimg2 {
            padding: 10px;
            max-width: 90%;
          }
    
  /* Aligning the text left */
      .previoustxt1 {
        text-align: left;
        padding: 15px;
     }

       /* Aligning the text left */
       .previoustxt2 {
        text-align: left;
        padding: 15px;
     }


     /* Aligning and styling the location div and setting it into a grid */  
.previousprojects2{
    font-size: 20px;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    padding: 10px;
    }
    
  /* Styling the location image */  
      .previousimg3 {
        padding: 10px;
        max-width: 90%;
      }

        /* Styling the location image */  
        .previousimg4 {
            padding: 10px;
            max-width: 90%;
          }
    
  /* Aligning the text left */
      .previoustxt3 {
        text-align: left;
        padding: 15px;
     }

       /* Aligning the text left */
       .previoustxt4 {
        text-align: left;
        padding: 15px;
     }

     /* Aligning and styling the location div and setting it into a grid */  
.previousprojects3{
    font-size: 20px;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    padding: 10px;
    }
    
  /* Styling the location image */  
      .previousimg5 {
        padding: 10px;
        max-width: 90%;
      }

        /* Styling the location image */  
        .previousimg6 {
            padding: 10px;
            max-width: 90%;
          }
    
  /* Aligning the text left */
      .previoustxt5 {
        text-align: left;
        padding: 15px;
     }

       /* Aligning the text left */
       .previoustxt6 {
        text-align: left;
        padding: 15px;
     }

     .break{
      max-width: 95%;
      margin: 0 auto;
     }

     .currentttitlw{
      text-align: center;
     }

     .currentprojects{
      padding: 5px;
      text-align: center;
  }
  
  .currenthr{
      max-width: 75%;
      margin: 0 auto;
  }

.current1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px;
    }
    
    /* Styling the intro image */  
      .currentimg1{
        margin: 0 auto;
        max-height: auto;
        max-width: 100%;
        align-items: center;
      }
    
    /* Aligning the text cenrally */
    .currenttxt1{
      padding: 50px;
      text-align: center;
   }

   .current2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px;
    }
    
    /* Styling the intro image */  
      .currentimg2{
        margin: 0 auto;
        max-height: auto;
        max-width: 100%;
        align-items: center;
      }
    
    /* Aligning the text cenrally */
    .currenttxt2{
      padding: 50px;
      text-align: center;
   }
